<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- theme.title %> </title>
    <!-- 引入配置文件 -->
    <%- css('css/main.css') %>

    <%- css('lib/font-awesome/css/font-awesome.min.css') %>
</head>
<body>
    <div id="main">
        <!--
            header部分模仿苍彼官网做
        -->
        <%- include('_partial/header.ejs') %>
        
        <!--正文-->
        <div id="content">
            <%- body%>
        </div>
    </div>

    <%- js('js/main.js') %>


    
</body>
</html>