<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- theme.title %> </title>
    <!-- 引入配置文件 -->
    <%- css('css/main.css') %>

    <%- css('lib/font-awesome/css/font-awesome.min.css') %>
</head>
<body>
    <div id="main">
        <!--侧边栏-->
        <aside id="leftSideBar">
            <%- include('aside.ejs') %>
        </aside>

        <!--导航栏-->
        <nav>
            <%- include('nav.ejs') %>
        </nav>

        <!--正文-->
        <div id="content">
            <%- body%>
        </div>
    </div>

    <%- js('js/main.js') %>


    
</body>
</html>